<div class="row">
	<div class="col-md-10">
		<p>
			Začátek: {{event.startDate | date:'EEE d. M. y'}}, {{event.startPlace}}<br>
			Konec: {{event.endDate | date:'EEE d. M. y'}}, {{event.endPlace}}<br>
			Jídlo: {{event.food}}
		</p>
	</div>
	<div class="col-md-2">
		<h3><a>Přihláška</a></h3>
	</div>
</div>

<p content-tools [(ngModel)]="event.perex" class="perex" autosave="2000" name="perex"></p>

<div class="description">
	<div content-tools [(ngModel)]="event.description" autosave="2000" name="description"></div>
</div>


