# compiled output
/aot/*
/app/**/*.js
/app/**/*.js.map
!systemjs.config.js
!index.html
!index.ts

# sensitive data
mongo-config.js

# dependencies
/node_modules

# uploads
/uploads

# misc
npm-debug.log