<div *ngIf="event" class="event">
	
	
	
	<div class="row">
		<div class="col-md-3">
			
			<div class="header">

				<h1>{{event.name}}</h1>

				<p>
					Začátek: {{event.startDate | date:'EEE d. M. y'}}, {{event.startPlace}}<br>
					Konec: {{event.endDate | date:'EEE d. M. y'}}, {{event.endPlace}}<br>
					Jídlo: {{event.food}}
				</p>

				<a>Přihláška</a>
			</div>
			
			<ul class="nav nav-pills nav-stacked">
				<li routerLinkActive="active"><a routerLink="../info">Informace</a></li>
				<li routerLinkActive="active"><a routerLink="../kronika">Kronika</a></li>
				<li routerLinkActive="active"><a routerLink="../galerie">Galerie</a></li>
				<li routerLinkActive="active"><a routerLink="../seznam-ucastniku">Seznam účastníků</a></li>
				<li routerLinkActive="active"><a routerLink="../vydaje">Výdaje</a></li>
				<li routerLinkActive="active"><a routerLink="../vyuctovani">Vyúčtování</a></li>
			</ul>

		</div>

		<div  class="col-md-9">
			
			<div [ngSwitch]="view">
				
				<event-info *ngSwitchCase="'info'" [event]="event" (save)="save()"></event-info>
				
				<div *ngSwitchCase="'kronika'">
					<div content-tools [(ngModel)]="event.report" name="report"></div>
				</div>

				<event-attending *ngSwitchCase="'seznam-ucastniku'" [event]="event" (save)="save($event)"></event-attending>

				<event-expenses *ngSwitchCase="'vydaje'" [event]="event" (save)="save($event)"></event-expenses>
			</div>
			
		</div>
	</div>
</div>