<div *ngIf="event" class="event">
	<div class="heading">
		<h1>{{event.name}}</h1>

		<div class="buttons btn-group btn-group-sm" role="group">
			<button (click)="openView('info')" [class.active]="view=='info'" type="button" class="btn btn-default">Popis a přihláška</button>
			<button (click)="openView('kronika')" [class.active]="view=='kronika'" type="button" class="btn btn-default">Kronika</button>
			<button (click)="openView('galerie')" [class.active]="view=='galerie'" type="button" class="btn btn-default">Fotogalerie</button>
			<button (click)="openView('seznam-ucastniku')" [class.active]="view=='seznam-ucastniku'" type="button" class="btn btn-default">Seznam účastníků</button>
			<button (click)="openView('vydaje')" [class.active]="view=='vydaje'" type="button" class="btn btn-default">Výdaje</button>
			<button (click)="openView('vyuctovani')" [class.active]="view=='vyuctovani'" type="button" class="btn btn-default">Vyúčtování</button>
		</div>

	</div>

	<div [ngSwitch]="view">
		
		<event-info *ngSwitchCase="'info'" [event]="event" (save)="save()"></event-info>
		
		
		
		<div *ngSwitchCase="'kronika'">
			<div content-tools [(ngModel)]="event.report" name="report"></div>
		</div>
		
		<event-attending *ngSwitchCase="'seznam-ucastniku'" [event]="event" (save)="save($event)"></event-attending>
	</div>
</div>