.na{text-decoration: line-through;}


.edit{font-size:.7em;opacity:.3;cursor:pointer;}
.edit:hover{opacity:1 !important;}

h1 .edit{opacity:0;}
h1:hover .edit{opacity:.3;}


.btn-group button{outline:none;}