<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>bosan.cz</h1>
		</div>
	</div>

	<div class="row">

		<div class="col-md-2">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li routerLinkActive="active"><a routerLink="/novinky">Novinky</a></li>
					<li routerLinkActive="active"><a routerLink="/stranka/o-nas">O nás</a></li>
					<li routerLinkActive="active">
						<a routerLink="/akce">Akce</a>
						<ul>
							<li routerLinkActive="active"><a routerLink="/akce/program">Program akcí</a></li>
							<li><a>Uskutečněné akce</a></li>
						</ul>
					</li>
					<li><a>Tábor</a></li>
					<li><a>Kroniky</a></li>
					<li><a>Fotogalerie</a></li>
				</ul>
				
				<hr>
				
				<ul class="nav nav-pills nav-stacked">
					<li routerLinkActive="active"><a routerLink="/clenove">Členská databáze</a></li>
					<li><a>Dokumenty</a></li>
					<li><a>Ubytování</a></li>
					<li><a>Troja</a></li>
					<li><a>Ting ťong liga</a></li>
				</ul>
			</nav>
		</div>

		<div class="col-md-10">
			<router-outlet></router-outlet>
		</div>

	</div>

</div>

<footer>
	<div class="container text-muted small">
		<div class="col-sm-4 col-xs-12">
			S <i class="fa fa-heart" aria-hidden="true"></i> vytvořil <a href="https://smallhill.cz">Martin Kopeček</a>
		</div>
		<div class="col-sm-4 col-xs-12 text-center">
			<a href="https://facebook.com/bosan.cz">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="https://github.com/SmallhillCZ/bosan-cz">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-github fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 text-right">
			<span *ngIf="!userService.logged">
				<a routerLink="/login">Přihlásit se</a> | 
			</span>
			<span *ngIf="userService.logged">
				Přihlášen: {{userService.user.name}} (<a (click)="userService.logout()">odhlásit</a>) | 
			</span>
			
			<a routerLink="/stranka/kontakt">Kontakt</a>
		</div>
	</div>
</footer>

<div id="toasts">
	<ul>
		<li *ngFor="let toast of toasts" [class]="toast.status" (click)="toast.hide()">
			<span *ngIf="toast.opacity" [style.opacity]="toast.opacity">
				{{toast.text}}
			</span>
		</li>
	</ul>
</div>