<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>bosan.cz</h1>
		</div>
	</div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li routerLinkActive="active"><a routerLink="/novinky">Novinky</a></li>
					<li routerLinkActive="active"><a routerLink="/stranka/o-nas">O nás</a></li>
					<li routerLinkActive="active"><a routerLink="/stranka/oddily">Oddíly</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button">Oddíly <span class="caret"></span></a>
						<ul *ngIf="">
							<li><a>3. oddíl</a></li>
							<li><a>4. oddíl</a></li>
							<li><a>5. oddíl</a></li>
							<li><a>6. oddíl</a></li>
							<li><a>7. oddíl</a></li>
							<li><a>8. oddíl</a></li>
							<li><a>22. oddíl</a></li>
							<li><a>Klub přátel</a></li>
							<li role="separator" class="divider"></li>
							<li><a>1. oddíl</a></li>
							<li><a>2. oddíl</a></li>
							<li><a>oddíl Uhřínovských</a></li>
						</ul>
					</li>
					<li routerLinkActive="active"><a routerLink="/program-akci">Akce</a></li>
					<li><a>Tábor</a></li>
					<li><a>Kroniky</a></li>
					<li><a>Fotogalerie</a></li>        
				</ul>
				
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown" [class.open]="menuDropdown.ostatni">
						<a (click)="dropdownToggle('ostatni')" class="dropdown-toggle" data-toggle="dropdown" role="button">??? <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a>Troja</a></li>
							<li><a>Vodák roku</a></li>
						</ul>
					</li>

					<li class="dropdown" [class.open]="menuDropdown.interni">
						<a (click)="dropdownToggle('interni')" class="dropdown-toggle" data-toggle="dropdown" role="button">Interní <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li routerLinkActive="active"><a routerLink="/clenove">Členská databáze</a></li>
							<li><a>Dokumenty</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>

	<router-outlet></router-outlet>

</div>

<footer>
	<div class="container text-muted small">
		<div class="col-sm-4 col-xs-12">
			S <i class="fa fa-heart" aria-hidden="true"></i> vytvořil <a href="https://smallhill.cz">Kopec</a> z <a routerLink="/stranka/22-oddil">22. oddílu</a>
		</div>
		<div class="col-sm-4 col-xs-12 text-center">
			<a href="https://facebook.com/bosan.cz">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="https://github.com/SmallhillCZ/bosan-cz">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-github fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 text-right">
			<span *ngIf="!userService.logged">
				<a routerLink="/login">Přihlásit se</a> | 
			</span>
			<span *ngIf="userService.logged">
				Přihlášen: {{userService.user.name}} (<a (click)="userService.logout()">odhlásit</a>) | 
			</span>
			
			<a routerLink="/stranka/kontakt">Kontakt</a>
		</div>
	</div>
</footer>

<div id="toasts">
	<ul>
		<li *ngFor="let toast of toasts" [class]="toast.status" (click)="toast.hide()">
			<span *ngIf="toast.opacity" [style.opacity]="toast.opacity">
				{{toast.text}}
			</span>
		</li>
	</ul>
</div>