body{
	font-family: 'Slabo 27px', serif;
}

input:valid, textarea:valid{
  border-left: 5px solid #42A948; /* green */
}
input:invalid, textarea:invalid{
  border-left: 5px solid #a94442; /* red */
}

.editing{outline:#ff0 solid 1px;}

#loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}


*[content-tools]{text-align:center;}
*[content-tools] h1,*[content-tools] h2{text-align:left;}
*[content-tools] p{text-align:justify;}
*[content-tools] img{margin:10px;}
*[content-tools] img.align-right{float:right;margin:0 0 5px 10px;}
*[content-tools] img.align-left{float:left;margin:0 10px 5px 0 ;}

@keyframes ellipsis {
  to {
    width: 15px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 15px;    
  }
}