
<p>Skupina Šán je seskupení sedmi dětských vodáckých oddílů. Domovskou loděnici máme v Podolí mezi Žlutými lázněmi a botelem Racek naproti plaveckému bazénu (mapa).</p>
<p>Skupinu dohromady pravidelně navštěvuje přes 120 dětí ve věku od 8 do 15 let, o které se stará 45-ti členný kolektiv vedoucích. Každý oddíl pořádá pravidelné výlety a výjezdy na vodu, v zimě lyžařské výcviky na horách, eskymování v kajacích v bazénu v Suchdole. Pořádáme dva turnusy letních vodáckých táborů na ostrově ŠÁN a desetidenní putovní vodácký tábor.</p>
<p>Jezdíme na devítikanoích vlastní výroby, kajacích i singlovkách. Chceš to zkusit? Pak si s sebou vezmi věci na první schůzku a přijď v pondělí nebo ve středu od 16 hodin do loděnice. Nebo se dopředu dohodni s některým z vedoucích.</p>
<p>Pro školní kolektivy a družiny nabízíme zdarma projížďky po Vltavě. Bližší informace najdete v části o nás.</p>

<div class="row">
	<div class="col-md-6">
		<h2>Nejbližší akce</h2>
		<event-list limit="5" sort="asc" [from]="listFrom"></event-list>
	</div>
	<div class="col-md-6">
		<h2>Novinky</h2>
		<news-list limit="5" sort="asc" [from]="listFrom"></news-list>
	</div>
</div>