<h2>Členská databáze</h2>

<div class="members">
	<table *ngIf="members" class="table table-striped table-condensed table-hover table-responsive">
		<thead>
			<tr>
				<th>Oddíl</th>
				<th>Přezdívka</th>
				<th>Funkce</th>
				<th>Hodnost</th>
				<th>Jméno</th>
				<th>Příjmení</th>
				<th>Adresa</th>
				<th>Mobil</th>
				<th>Telefon matka</th>
				<th>Telefon otec</th>
			</tr>
			<tr class="filter">
				<td><input type="text" name="filter-squad" [(ngModel)]="filter.squad" placeholder="filtr..."></td>
				<td><input type="text" name="filter-nickname" [(ngModel)]="filter.nickname" placeholder="filtr..."></td>
				<td><input type="text" name="filter-role" [(ngModel)]="filter.role" placeholder="filtr..."></td>
				<td><input type="text" name="filter-rank" [(ngModel)]="filter.rank" placeholder="filtr..."></td>
				<td><input type="text" name="filter-firstname" [(ngModel)]="filter.firstname" placeholder="filtr..."></td>
				<td><input type="text" name="filter-lastname" [(ngModel)]="filter.lastname" placeholder="filtr..."></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		</thead>
		<tbody>
			<tr *ngFor="let member of getList()" (click)="openMember(member)" [class]="'oddil-' + member.squad">
				<td class="oddil">{{member.squad}}</td>
				<td>{{member.nickname}}</td>
				<td>{{member.role}}</td>
				<td>{{member.rank}}</td>
				<td>{{member.name?.first}}</td>
				<td>{{member.name?.last}}</td>
				<td>{{member.address?.street}} {{member.address?.streetNo}}, {{member.address?.city}}, {{member.address?.zip}}</td>
				<td>{{member.phone?.mobile}}</td>
				<td>{{member.phone?.mother}}</td>
				<td>{{member.phone?.father}}</td>
			</tr>
		</tbody>
	</table>
</div>