<div *ngIf="events" class="events">
	
	<div *ngFor="let event of events.docs" class="event">
		
		<h3>{{event.name}}</h3>
		
		<p>Od: {{event.startDate | date:'EEE d. M. y'}}, Do: {{event.endDate | date:'EEE d. M. y'}}</p>
		
		<div [innerHTML]="event.perex"></div>
		
		<p><a [routerLink]="getEventLink(event)">Detail akce</a></p>
		
	</div>
	
	<nav *ngIf="events">
		<ul class="pager">
			<li class="previous" [class.disabled]="page==1"><a (click)="loadEvents(page - 1)"><span aria-hidden="true">&larr;</span> Předchozí</a></li>
			<li class="next" [class.disabled]="page==events.pages"><a (click)="loadEvents(page + 1)">Další <span aria-hidden="true">&rarr;</span></a></li>
		</ul>
	</nav>
	
</div>